* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
//<----------------------------- Collapsed JS ----------------------------->

//<----------------------------- Para versión larga ----------------------------->
// .js_design_content.collapsed,
// .js_fill_content.collapsed,
// .js_share_content.collapsed {
//   display: none;
// }
//<----------------------------- Para versión corta ----------------------------->
.collapsed .js_design_content,
.collapsed .js_fill_content,
.collapsed .js_share_content {
  display: none;
}
//<----------------------------- Girar Arrow ----------------------------->
.rotate {
  transform: rotate(180deg);
}
